body {
    display: flex;
    width: 100%;
    background-color: #f5f5f5;
    background-size: cover;
    font-family: Arial, sans-serif;
}

body,
html{
    margin: 0;
    padding: 0;
}

.skill-holder{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.skills {
    width: fit-content;
}

.navHeaders{
    text-align: center;
}

.content {
    width: 75%;
    margin-left: 25%;
    padding: 20px;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

.navbar{
    position: fixed;
    width: 25%;
}

.projects {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    color: white;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
}

.container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
}

.projects img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.aboutme{
    text-align: center;
}
.long-text{
    padding-inline: 15px;
}

@media screen and (max-width: 768px) {
    .navbar{
        position: unset;
        width: 100%;
    }

    body{
        flex-direction: column;
        align-items: center;
    }
    
    .aboutme{
        padding-inline: 10px;
    }

    .content {
        width: 100%;
        margin-left: 0%;
    }

    h1 {
        font-size: 6vw;
    }

    .skills, 
    .projects, 
    .aboutme {
        margin-top: 30px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {

    h1 {
        font-size: 7vw;
    }

    .skills, 
    .projects 
    {
        padding: 10px;
    }

    .projects img {
        width: 100%;
        max-width: 200px;
        height: auto;
    }

    .long-text{
        padding-inline: 0px;
    }

    .container {
        flex-direction: column;
    }
}
@media screen and (max-width: 320px) {
    li{
        list-style: none;
    }
}
